$primary-color: #17a2b8;
$secondary-color: #138496;

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    .navbar-grid {
        grid-area: 1 / 1 / 1 / 5;
    }
    .menu-grid {
        grid-area: 2 / 1 / 2 / 2;
        margin-left: 0.5rem;
    }
    .page-grid {
        grid-area: 2 / 2 / 2 / 4;
    }
    .extra-grid {
        grid-area: 2 / 4 / 2 / 5;
    }
}

