@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "variables.scss";

$border-radius: 5px;

.form-container {
    display: inline-block;
    min-width: 100%;
    text-align: center;
}

.form-title {
    background-color: $primary-color;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
}

.form {
    display: inline-block;
    width: 100%;
    font-family: "Open Sans";
    text-align: left;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 0 0 0.25rem 0.25rem;
    .form-item {
        label {
            color: $primary-color;
            font-size: 1.25rem;
            font-weight: bold;
            display: block;
        }
        input {
            padding: 0 0.25rem;
            width: 100%;
            margin-bottom: 2rem;
            border: 1px $primary-color solid;
            border-radius: $border-radius;
        }
    }
    .form-select {
        display: flex;
        margin-bottom: 2rem;
        label {
            line-height: 1.25rem;
            color: $primary-color;
            font-size: 1.25rem;
            font-weight: bold;
            margin: 0 1rem 0 0;
        }
        select {
            padding: 0 0.25rem;
            width: 100%;
            border: 1px $primary-color solid;
            border-radius: $border-radius;  
        }
    }
    .form-textarea {
        label {
            line-height: 1.25rem;
            color: $primary-color;
            font-size: 1.25rem;
            font-weight: bold;
            margin: 0 1rem 0 0;
        }
        textarea {
            margin-top: 1rem;
            padding: 0.25rem;
            width: 100%;
            border: 1px $primary-color solid;
            border-radius: $border-radius;  
        }
    }
    .form-error {
        font-weight: bold;
    }
}



