@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "variables.scss";

.navbar {
    background-color: $primary-color;
    #title, #title:visited, #title:hover {
        display: block;
        padding: 0.5rem 1rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
}
